{% extends "base.html" %}
{% load static %}
{% block add_css_file %}
    <link href='{% static "styles/problem_page.css" %}' rel="stylesheet">    
{% endblock add_css_file %}
%{% block title %}Problem{% endblock title %}%

{% block content %}
    <div id = "problem-page-container">
        <div id = "problem-title">
            {{problem.name}}
        </div>
        <div id = "sub-container">
            <div id = "left-side" class = "problem-details-left-side">
                <div class = "sub-section-title">
                    Problem Statement
                </div>
                <div class = "sub-section-content" id = "problem-statement">
                    {{problem.statement|linebreaksbr}}
                </div>
                <div class = "sub-section-title">
                    Input Format
                </div>
                <div class = "sub-section-content">
                    {{problem.input_description|linebreaksbr}}
                </div>
                <div class = "sub-section-title">
                    Output Format
                </div>
                <div class = "sub-section-content">
                    {{problem.output_description|linebreaksbr}}    
                </div>
                <div class = "sub-section-title">
                    Sample Testcases
                </div>
                {% for tc in testcases %}
                    {% if tc.show %}
                        <details>
                            <summary class = "details-summary">Test case {{tc.tc_shown_id}}</summary>
                            <div class = "sub-section-content" id = "sample-test-cases-container">
                                <div class = "input-container">
                                    <div class = "test-cases-title">
                                        Input
                                        <button id="input-copy-btn" class="copy-btn" type="">Copy</button>
                                    </div>
                                    <div class = "test-cases-data">
                                        {{tc.input_text|linebreaksbr}}
                                    </div>
                                </div>
                                <div class = "output-container">
                                    <div class = "test-cases-title">
                                        Output
                                        <button id="output-copy-btn" class="copy-btn" type="">Copy</button>
                                    </div>
                                    <div class = "test-cases-data">
                                        {{tc.output_text|linebreaksbr}}
                                    </div>
                                </div>
                            </div>
                        </details>
                    {% endif %}
                    
                {% endfor %}
                
                <div class = "sub-section-title">
                    Explanation
                </div>
                <div class = "sub-section-content">
                    {{problem.explanation|linebreaksbr}}
                </div>
                
            </div>
            <div id = "right-side">
                <div id = "pdf-div">
                    <a type="submit" href = "{% url 'download_file' problem.id %}" name="download" value="" href = "https:google.com">Download Pdf File</a>
                </div>
                <div class = "details-container">
                    <div class = "details-title">
                        Prolem details
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td>Created on</td>
                                <td>{{problem.added_date}}</td>
                            </tr>
                            <tr>
                                <td>Total submissions</td>
                                <td>{{submission_count}}</td>
                            </tr>
                            <tr>
                                <td>Accepted</td>
                                <td>{{accepted_count}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                
                <div class = "details-container" id = "submit-container">
                    <div class = "details-title">
                        Submit Solution
                    </div>

                    <div id = "submit-solution">
                        <form method = "post" enctype="multipart/form-data" id = "form">
                            {% csrf_token %}
                            <div id = "form-container">
                                <input class = "hidden" type="number" name="problem_id" value={{problem.id}}>
                                <input class = "hidden" type="number" name="user_id" value="1">
                                <div>
                                    {{submission_form.language.label_tag}}&nbsp;
                                    {{submission_form.language}}
                                </div>
                                <div id = "file-input">
                                    {{submission_form.source_file.label_tag}}
                                    {{submission_form.source_file}}
                                </div>
                                <input id = "submit-btn" type="submit" name="submit" value="submit">
                            </div>
                        </form>
                    </div>
                </div>

                <div class = "details-container">
                    <div class = "details-title">
                        Recent Submissions
                    </div>
                    <div>
                        <table style = "font-size : 0.8rem; padding:0">
                            <thead>
                                <th style = "width : 10%; font-size:1rem">ID</th>
                                <th style = "width : 40%; font-size:1rem">Time</th>
                                <th style = "font-size:1rem">Verdict</th>
                            </thead>
                            <tbody>
                                {% for submission in submissions %}
                                    <tr>
                                        <td style = "width : 10%; text-decoration:underline"><a href="{% url "submission" submission.id %}">{{submission.id}}</a></td>
                                        <td style = "width : 40%">{{submission.submission_time|date:"Y-m-d H:i"}}</td>
                                        <td>{{submission.verdict}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div id = "hope">
        Hopes alive.
    </div>
{% endblock content %}


{% block add_js_file %}
    <script src = {% static "scripts/problem_page.js" %}>
        
    </script>
    <script>
        if("{{verdict}}"){
            showToast("Result : " + "{{verdict}}", "info")
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function() {
    function updateData() {
        $.ajax({
            url: '/hope/',
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                $('#hope').text(data.value);
            }
        });
    }
    setInterval(updateData, 100);
});
</script>
{% endblock add_js_file %}