{% extends "base.html" %}
{% load static %}
{% block add_css_file %}
    <link href='{% static "styles/testcase.css" %}' rel="stylesheet">    
{% endblock add_css_file %}
%{% block title %}Testcase{% endblock title %}%

{% block content %}
    <div id = "submission-container">
        <div id = "submission-header" class = "submission-div">
            <table>
                <tr>
                    <td>Submitted By</td>
                    <td>Urvik Jada</td>
                </tr>
                <tr>
                    <td>Submission ID</td>
                    <td><a href="{% url "submission" submission_id %}">{{submission_id}}</a></td>
                </tr>
                <tr>
                    <td>Problem</td>
                    <td><a href="{% url "problem_details" problem.id %}">{{problem.id}}. {{problem.name}}</a></td>
                </tr>
                <tr>
                    <td>Test Case No.</td>
                    <td>{{tc_no}}</td>
                </tr>
                <tr>
                    <td>Verdict</td>
                    <td>{{verdict}}</td>
                </tr>
            </table>
        </div>
        <div id = "submission-tc-result" class = "submission-div">
            <div class = "submission-header" style = "margin-bottom:16px">
                Test Cases Result
            </div>
            <table>
                <thead>
                    <th>Input</th>
                    <th>Expected Output</th>
                    <th>Output</th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <pre>
{{input}}
                            </pre>
                        </td>
                        <td>
                            <pre>
{{output}}
                            </pre>
                        </td>
                        <td>
                            <pre>
{{user_output}}
                            </pre>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% if compilation_error %}
            <div id = "compilation-error" class = "submission-div">
                <div class = "submission-header">
                    Compilation Error
                </div>
                <pre>
{{compilation_error}}
                </pre>
            </div>
        {% endif %}
    </div>
{% endblock content %}


{% block add_js_file %}
    <script>
    </script>
{% endblock add_js_file %}