{% extends "base.html" %}
{% load static %}
{% block add_css_file %}
    <link href='{% static "styles/add_problem_page.css" %}' rel="stylesheet">    
    <link href='{% static "styles/problem_page.css" %}' rel="stylesheet">    
{% endblock add_css_file %}
%{% block title %}Login{% endblock title %}%

{% block content %}
    <div id = "login-page-container">
        <div id = "problem-title">
            Login
        </div>
        <div id = "sub-from-container">
            <form method = "post">
                {% csrf_token %}
                <div id = "form-container-register">
                    {% for field in form.visible_fields %}
                        <div class = "form-div">
                            <div class = "label-div">
                                {{field.label_tag}}
                            </div>
                            <div class = "input-div-register">
                                {{field}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div style = "text-align:center">
                    <input type="submit" id = "submit-btn" value = "Login"/>
                </div>
            </form>
        </div>
        <div>
            <a class = "no_decoration" type="" href = '{% url "register" %}'>Create New Account</a>
        </div>
    </div>
{% endblock content %}


{% block add_js_file %}
    <script src ={% static "scripts/register.js" %}>
    </script>

    <script>
        if("{{info}}"){
            showToast("{{info}}" , "error")
        }
        document.getElementById("id_user_name").addEventListener("change" , function(){
            setUserID(document.getElementById("id_user_name").value)
        })
    </script>
{% endblock add_js_file %} 



{% comment %} {% extends "base.html" %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
{% endblock %} {% endcomment %}