{% extends "base.html" %}
{% load static %}
{% block add_css_file %}
    <link href='{% static "styles/profile_page.css" %}' rel="stylesheet">    
{% endblock add_css_file %}
%{% block title %}Profile Page{% endblock title %}%

{% block content %}
    <div id = "profile-page-container">
        <div id = "profile-details">
            <div id = "profile-details-left">
                <div id = "profile-username">
                    {{user}}
                </div>
                <div id = "profile-name">
                    {{user.first_name}} {{user.last_name}}
                </div>
                <div id = "profile-location">
                    {{user.country}}
                </div>
                <div id = "profile-org">
                    {{user.university_name}}
                </div>
               
                <div>
                    <table>
                        <tr>
                            <td><img class = "icons" src="{% static "icons/problem_solved.svg" %}" alt=""></td>
                            <td>Problem Solved</td>
                            <td>{{ problem_solved }}</td>
                        </tr>
                        <tr>
                            <td><img class = "icons" src="{% static "icons/blog.svg" %}" alt=""></td>
                            <td>Blog Written</td>
                            <td>{{ blog_count }}</td>
                        </tr>
                        <tr>
                            <td><img class = "icons" src="{% static "icons/star.svg" %}" alt=""></td>
                            <td>Contribution</td>
                            <td>{{contribution}}</td>
                        </tr>
                    </table>
                </div>

                <div id = "new-blog-link">
                    <a href="{% url "add_blog_page" %}">Write new blog</a>
                    <a href="{% url "my_submissions" 1 %}">My submissions</a>
                </div>
            </div>
            <div id = "profile-details-right">
                {% if user.profile_image %}
                <img src="{{ user.profile_image.url }}" alt="Loading profile photo">
                {% else %}
                <img src="\media\profile_image\blank-profile-picture.png" alt="Default Image">
                {% endif %}
            </div>
        </div>
        
    </div>
{% endblock content %}


{% block add_js_file %}
    <script src = {% static "scripts/problem_page.js" %}>
        
    </script>
    <script>
    </script>
{% endblock add_js_file %}