:root{
    --color-a: #45FFCA;
    --color-a-low: rgba(69,255,202,0.5);
    --color-a-theme-1: rgb(34, 34, 34);
    --color-a-theme-2: rgb(67, 66, 66);
    --color-b: yellow;
    --color-c: rgb(255, 255, 255);
    font-family: 'Mooli', sans-serif;
    background-color: #001524;
    color: var(--color-b);
}

body{
    display: flex;
    flex-direction: column;
}

.icons{
    height: 1.6rem;
    width: auto;
}

#container{
    width: 90%;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navbar{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    width: 90%;
}

#nav-item-div{
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 5px;
    justify-content: space-evenly;
}

.nav-item{
    padding-right: 5px;
    color: var(--color-b);
}

.nav-item a{
    padding: 8px;
    text-decoration: none;
    color: var(--color-b);
}

.nav-item a:hover{
    background-color: var(--color-a-low);
}

.vertical-line{
    width: 2px;
    height: 1.6rem;
    background-color: var(--color-a)
}

#logo{
    margin-right: 30px;
    font-size: 1.6rem;
}

.special-char{
    color: var(--color-a);
    font-size: 2rem;
}

#nav-item-login{
    margin-left: auto;
}

.horizontal-line{
    width: 90%;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid var(--color-a);
}

#change-theme{
    cursor: pointer;
}


#profile-select{
    border: none;
    height: 2lh;
}

#profile-select option{
    font-size: 1.2rem;
    width: 100px;
}

#profile-select option{
    background-color: red;
}

.select-hidden{
    display: none;
}


#my-select{
    display: flex;
    align-items: center;
}


#drop-icon{
    position: relative;
    top: -5px;
}



#menu{
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    padding: 5px 10px;
}

#menu{
    display: none;
}

#menu div{
    border: 2px solid var(--color-a);
    padding: 5px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
}

#menu div:hover{
    background-color: var(--color-a-theme-1);
}

#menu div a{
    text-decoration: none;
}

#profile-picture-nav{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 100%;
    border: 1px solid var(--color-a);
}